body {
  margin: 0;
  font-family: "open sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 320px;
  height: 100px;
  padding: 0 22px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  width: 100%;
  transition: background-color 250ms ease-in-out;
  z-index: 100;
  background-color: none;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.menu-butt {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 29px;
  font-size: 18px;
  padding: 0;
}

.menu-butt-active {
  color: #28a745;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
}

.logo-first {
  font-family: "open sans", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  color: #28a745;
}

.logo-second {
  color: #ffffff;
}

.header-menu {
  display: flex;
  gap: 40px;
  margin: 0;
}

.header-menu a {
  display: flex;
  height: 29px;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.hero {
  padding: 142px 40px 259px 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/background320.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-header {
  font-size: 55px;
  font-weight: 300;
  line-height: 66px;
  color: #e9e9e9;
  margin-bottom: 24px;
  text-align: center;
  max-width: 241px;
}

.hero-paragraph {
  font-size: 22px;
  line-height: 37px;
  color: #e9e9e9;
  margin-bottom: 32px;
  text-align: center;
  max-width: 246px;
}

.button {
  width: 165px;
  height: 48px;
  border-radius: 5px;
  background-color: #28a745;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #146f29;
}

.button-arrow {
  height: 18px;
  margin-right: 4px;
}

.purposes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #28a745;
}

.purposes-paragraph {
  max-width: 320px;
  padding: 40px 28px;
  box-sizing: border-box;
  margin: 0 auto;
}

.purposes-photo {
  width: 100%;
}

.header3-purpose {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 300;
  line-height: 33px;
  color: #ffffff;
}

.header2-purpose {
  margin-bottom: 24px;
  font-size: 38px;
  font-weight: 300;
  line-height: 48px;
  color: white;
}

.paragraph-purpose {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: white;
}

.button-stroke {
  height: 50px;
  padding: 12px 35px 12px 35px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.purposes-paragraph button:hover,
.purposes-paragraph button:focus {
  background-color: #146f29;
}

.blog-coffee button:hover,
.blog-coffee button:focus {
  background-color: #005687;
}

.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 40px 0;
}

.cases-pic {
  display: block;
  height: 176px;
}

.cases-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 8px;
  margin: 0;
}

.cases-photo-items {
  width: 280px;
}

.cases-header3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  color: #333333;
  margin-bottom: 24px;
}

.cases-header2 {
  font-size: 38px;
  font-weight: 300;
  line-height: 48px;
  color: #333333;
  margin-bottom: 24px;
  max-width: 219px;
  text-align: center;
}

.cases-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #333333;
  max-width: 250px;
  text-align: center;
  margin-bottom: 20px;
}

.cases-item-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #333333;
  max-width: 250px;
  text-align: center;
}

.cases-container {
  width: 100%;
  text-align: center;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0284d0;
}

.blog-coffee {
  max-width: 260px;
  margin: 0 auto;
  padding: 40px 40px 40px 20px;
}

.blog-header3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 8px;
}

.blog-header2 {
  font-size: 38px;
  font-weight: 300;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 24px;
}

.blog-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 24px;
  max-width: 606px;
}

.blog-picture {
  background-color: white;
}

.blog-photo {
  height: 100%;
  width: 100%;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 0;
}

.team-photo {
  width: 280px;
}

.team-list-header4 {
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}

.overlay-box {
  background-color: black;
  margin-bottom: 20px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 120px;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: black;
  opacity: 0;
}

.team-item:hover .overlay {
  opacity: 0.4;
}

.team-icon {
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover .team-icon,
.team-social-link:focus .team-icon {
  fill: #28a745;
}

.team-social-list {
  position: absolute;
  display: flex;
  gap: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.team-item:hover .team-social-list {
  opacity: 1;
}

.team-photo {
  display: block;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-item h4 {
  margin-bottom: 12px;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
}

.feedback-img {
  width: 100%;
}

.feedback-form {
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
}

.feedback-form h2 {
  font-size: 38px;
  font-weight: 300;
  line-height: 48px;
  margin-bottom: 32px;
  width: 150px;
}

.form-name {
  margin-bottom: 40px;
  height: 40px;
  border: 1px solid #f5f5f5;
  padding-left: 8px;
  width: auto;
  max-width: 400px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.submit-btn {
  width: 100%;
  max-width: 430px;
  border-radius: 5px;
  background-color: #28a745;
  color: #ffffff;
  height: 42px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #146f29;
}

footer {
  background-color: #333333;
  padding: 20px 0;
  text-align: center;
}

.footer-icon {
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer a:hover .footer-icon,
footer a:focus .footer-icon {
  fill: #28a745;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
}

footer p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

@media (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image: url(../images/background320-2x.jpg);
  }
}

@media (min-width: 768px) {
  .logo {
    margin-bottom: 0;
  }
  .header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    padding: 0 32px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    padding: 407px 141px 551px 134px;
    background-image: url(../images/background768.jpg);
  }

  .hero-paragraph {
    max-width: fit-content;
  }

  .hero-header {
    max-width: fit-content;
  }

  .purposes {
    flex-direction: row;
    justify-content: center;
  }

  .header2-purpose {
    width: 204px;
  }

  .paragraph-purpose {
    width: 300px;
  }

  .purposes-paragraph {
    max-width: 100%;
    width: 400px;
    height: 589px;
    margin: 0;
  }

  .purposes-photo {
    height: 100%;
    width: 368px;
  }

  .paragraph-purpose {
    line-height: 28px;
  }

  .cases-pic {
    height: 140px;
  }

  .cases-header2 {
    max-width: 100%;
  }

  .cases-paragraph {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .cases-photos {
    gap: 18px;
    row-gap: 18px;
    margin: 0;
    width: 768px;
  }

  .cases-photo-items {
    width: 223px;
  }

  .cases-container {
    width: auto;
  }

  .blog {
    flex-direction: row;
    justify-content: center;
  }

  .blog-coffee {
    max-width: 315px;
    padding: 40px 53px 40px 32px;
    margin: 0;
  }
  .blog-picture {
    height: 493px;
  }
  .blog-photo {
    width: auto;
    height: auto;
  }

  .team-list {
    flex-direction: row;
  }

  .team-photo {
    width: 223px;
  }

  .feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f4f4;
    margin: 0 auto 40px;
    height: 354px;
  }

  .feedback-form {
    padding: 40px 32px 40px 32px;
    width: 400px;
    box-sizing: border-box;
  }

  .feedback-form h2 {
    width: auto;
  }

  .feedback-img {
    height: 354px;
    width: 368px;
  }

  .form-name {
    box-sizing: border-box;
    width: 324px;
  }
  .submit-btn {
    width: 336px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: url(../images/background768-2x.jpg);
  }
}

@media (min-width: 1360px) {
  .header .container {
    max-width: 1360px;
    padding: 0 28px;
  }

  .hero {
    padding: 280px 436px 280px 431px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .purposes-photo {
    width: 670px;
  }

  .header2-purpose {
    width: 100%;
  }

  .purposes-paragraph {
    padding: 80px 64px 80px 20px;
    width: 690px;
    height: 100%;
  }

  .paragraph-purpose {
    width: 100%;
  }

  .cases {
    padding: 80px 0 80px 0;
  }

  .cases-photos {
    gap: 20px;
    row-gap: 24px;
    margin: 0;
    width: 1360px;
  }

  .cases-pic {
    height: 282px;
  }

  .cases-photo-items {
    width: 421px;
  }

  .blog {
    height: 460px;
  }

  .blog-picture {
    height: auto;
  }

  .blog-coffee {
    max-width: 690px;
    padding: 80px 56px 80px 28px;
  }

  .team-photo {
    width: 420px;
  }

  .feedback {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    margin: 0 auto;
    height: auto;
  }

  .feedback-form {
    padding: 80px 28px 80px 20px;
    width: 690px;
  }

  .feedback-pic {
    width: 670px;
    height: 454px;
  }

  .form-name {
    margin-bottom: 32px;
    max-width: 620px;
    width: auto;
  }

  .submit-btn {
    margin-top: 28px;
    max-width: 642px;
    width: auto;
  }

  .feedback-img {
    width: 670px;
    height: 454px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1360px) {
  .hero {
    background-image: url(../images/background-2x.jpg);
  }
}
